.piclist {
    width: 100%; 
   
    background-color: #FFC300;
    font-size: large;
}
 .products{
    margin-top: 0%;
     display: flex;
     flex-direction: column;
     align-items: center;
  
     justify-content: center;
 }